{
    "presets": [
        "es2015",
        "react"
    ],
    "plugins": [
        // By default, this plugin uses Babel’s extends helper which polyfills Object.assign.
        // Enabling this option will use Object.assign directly.
        ["transform-object-rest-spread", { "useBuiltIns": false }]
    ]
}